In [13]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
import scipy.stats as st

In [2]:
'''   A hospital wants to determine whether there is any difference in the averag 
Turn Around Time (TAT) of reports of the laboratories on their preferred list.
They collected a random sample and recorded TAT for reports of 4 laboratories.
TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the
different laboratories at 5% significance level![image-2.png](attachment:image-2.png)'''

'   A hospital wants to determine whether there is any difference in the averag \nTurn Around Time (TAT) of reports of the laboratories on their preferred list.\nThey collected a random sample and recorded TAT for reports of 4 laboratories.\nTAT is defined as sample collected to report dispatch.\nAnalyze the data and determine whether there is any difference in average TAT among the\ndifferent laboratories at 5% significance level![image-2.png](attachment:image-2.png)'

In [ ]:
# Assumption Consider 95% confidence level , Consider alpha =0.05
# Null Hypothesis =Ho
#  Alternate Hypothesis= Ha
# Ho:  TAT Laboratory 1=TAT Laboratory 2=TAT Laboratory 3=TAT Laboratory 4
# Ha:    At least one TAT of Laboratory is different

In [3]:
df=pd.read_csv('LabTAT.csv')

In [4]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [7]:
df.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [16]:
 f,p=st.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

In [17]:
p

2.1156708949992414e-57

In [19]:
alph=0.05

In [21]:
 if p <= 0.05:
    print('We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories')
else:
    print('We fail to reject Null hypothesis')

We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories